@{
    ViewData["Title"] = "Registros";
}
<style>
    table, td, th{
        border: solid 1px black;
        text-align: center;
    }

</style>

@if (User.Identity.IsAuthenticated)
{
    <div style="text-align: center">    
        <h2>Registros</h2>

        <form asp-controller="Registros" asp-action="Filtrar" method="post" style="text-align: center">
            <input type="text" name="txtID" placeholder="Identificación">
            <input type="submit" value="Filtrar">
        </form>
        <br><br>
        <table id="tbRegistros" width="100%">
            <tr>
                <th>Id entrada</th><th>Hora ingreso</th><th>Motivo</th><th>Id Visitante</th><th>Nombre Visitante</th><th>Apellido Visitante</th>
            </tr>
            @Html.Raw(ViewBag.HtmlStr)
        </table>
    </div>
}
else
{
    <h1>Por favor inicie sesion primero</h1>
}