@{
    ViewData["Title"] = "Index";
}
<h1>Bienvenido a RES!</h1>
<p>El sistema de información RES permite registrar las entradas de personas de la universidad EAFIT. RES permite registrar los datos pertinentes de cada persona que ingresa a la universidad y guarda cada uno de estos registros tomando automáticamente la fecha y hora en la cual se realizó el ingreso, igualmente el usuario puede en cualquier momento consultar los registros ingresados, los cuales pueden ser filtrados por el documento de identidad de la persona.
<br><br>
El sistema de autenticación de RES es mediante Auth0, por lo tanto, ya sea para iniciar sesión como para registrarse el usuario debe tener una cuenta creada previamente en la aplicación RES de Auth0 por un administrador.
</p>